body {
	font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	justify-content: center;
	padding: 20px;


}

.contact-info {
	background: rgb(33, 43, 137);
	color: white;
	text-align: center;
	border-radius: 10px 0 0 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 10px 145px rgba(0, 0, 0, 0.25);


	em {
		font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-style: normal;
		font-weight: 400;
		margin-left: 10px ;
	}
}

.contact-form {
	background: white;
	border-radius: 0 10px 10px 0;
	padding: 30px;
	box-shadow: 0 10px 145px rgba(0, 0, 0, 0.25);
	align-content: center;
	display: grid;
}

.contact-form textarea {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ced4da;
}


.subtitle {
	margin-top: 2px;

}

.info {
	display: flex;
	flex-direction: column;
	margin-right: 1.3em;
	margin-bottom: 20%;
}

.info i {
	margin-top: 50px;
}

.input-group {
	margin-bottom: 2em;
}

.input-group label {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.input-group input {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #ced4da;
}
.contact-form textarea {
	margin-top: 0.8em;
	resize: none;
}
.radio-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.radio-group label {
	display: flex;
	flex-direction: row;
	margin-left: 1em;
	margin-bottom: 1em;
}
.btn {
	display: block;
	width: 100%;
	padding: 6px;
	margin-top: 30px;
	background: #212b89;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
}
.btn:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
	box-shadow: 0px 0px 10px 1px #202b89;
}

.btn:active {
	transform: scale(0.9);
	box-shadow: none;
}

.social-icons {
	margin-top: 16em;
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 6%;
}

.submit-button {
	margin: 20px;
	padding: 15px 30px;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 15px;
	border: 0px;
	font-weight: 600;
	background-image: linear-gradient(45deg, black 0%, #202b89 60%, #202b89 100%);
	cursor: pointer;
}

.submit-button:active {
	transform: scale(0.9);
	box-shadow: none;
}

.submit-button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
	box-shadow: 0px 0px 10px 1px #202b89;
}


@media screen and (max-width: 960px) {
	.container {
		flex-direction: column;
		align-items: stretch;
	}
	.contact-info,
	.contact-form {
		width: 100%;
		max-width: none;
		border-radius: 0;
	}
	.contact-info {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		order: 2;
	}
	.contact-form {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		order: 1;
	}
}
