<footer>
	<div class="columnContainer">
		<ul class="column">
			<h3>Titulo1</h3>
			<li>
				<a class="columnElement" href="#">Elemento1</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento2</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento3</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento4</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento5</a>
			</li>
			<li class="listSocialMedia">
				<a class="socialLink" href="#">
					<img
						class="socialIcon"
						src="../../../assets/icons/icons-instagram.svg"
						alt="instagram-icon"
					/>
				</a>
				<a class="socialLink" href="#">
					<img
						class="socialIcon"
						src="../../../assets/icons/icons-facebook.svg"
						alt="facebook-icon"
					/>
				</a>
				<a class="socialLink" href="#">
					<img
						class="socialIcon"
						src="../../../assets/icons/icons-whatsapp.svg"
						alt="whatsapp-icon"
					/>
				</a>
			</li>
		</ul>

		<ul class="column">
			<h3>Titulo2</h3>
			<li>
				<a class="columnElement" href="#">Elemento1</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento2</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento3</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento4</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento5</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento6</a>
			</li>
		</ul>

		<ul class="column">
			<h3>Titulo3</h3>
			<li>
				<a class="columnElement" href="#">Elemento1</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento2</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento3</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento4</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento5</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento6</a>
			</li>
		</ul>
	</div>

	<div class="rights"><p>CopyRight &copy;</p></div>
</footer>
