footer {
	margin-top: 12em;
	width: 100%;
	background: #1a1a1a;
	color: #fff;
	justify-content: center;
	text-align: center;
	font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	position: absolute;
	bottom: 0;
}

.columnContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 40%;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid white;
}

.column {
	display: inline-block;
	width: 10em;
	margin: 1em 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	list-style: none;
	line-height: 1.6;

	h3 {
		border-bottom: 0.1em solid white;
		text-align: center;
		font-weight: bold;
		font-size: 0.7em;
	}

	a {
		color: inherit;
		text-decoration: none;
		opacity: 0.8;
		font-size: 0.6em;
	}

	a:hover {
		opacity: 1;
	}
}

.socialLink {
	padding: 0.2em;
}

.socialIcon {
	width: 1.3em;
}

.rights {
	margin-top: 1.2em;
	padding-bottom: 1.2em;
	font-weight: bold;
	font-size: 1em;
}
