<footer>
	<div class="columnContainer">
		<ul class="column">
			<h3>Titulo1</h3>
			<li>
				<a class="columnElement" href="#">Elemento1</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento2</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento3</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento4</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento5</a>
			</li>
			<li class="listSocialMedia">
				<a class="socialLink" href="#">
					<img
						class="socialIcon"
						src="https://firebasestorage.googleapis.com/v0/b/test-5dfd9.appspot.com/o/assets%2Ficons%2Ficons-instagram.svg?alt=media&token=0416d49b-b5ff-4481-9355-283a79c4ee2d"
						alt="instagram-icon"
					/>
				</a>
				<a class="socialLink" href="#">
					<img
						class="socialIcon"
						src="https://firebasestorage.googleapis.com/v0/b/test-5dfd9.appspot.com/o/assets%2Ficons%2Ficons-facebook.svg?alt=media&token=944f1d02-f229-4a44-935c-3f67d770a0d6"
						alt="facebook-icon"
					/>
				</a>
				<a class="socialLink" href="#">
					<img
						class="socialIcon"
						src="https://firebasestorage.googleapis.com/v0/b/test-5dfd9.appspot.com/o/assets%2Ficons%2Ficons-whatsapp.svg?alt=media&token=a9eb7815-e7ab-453b-8398-9f30712c3318"
						alt="whatsapp-icon"
					/>
				</a>
			</li>
		</ul>

		<ul class="column">
			<h3>Titulo2</h3>
			<li>
				<a class="columnElement" href="#">Elemento1</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento2</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento3</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento4</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento5</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento6</a>
			</li>
		</ul>

		<ul class="column">
			<h3>Titulo3</h3>
			<li>
				<a class="columnElement" href="#">Elemento1</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento2</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento3</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento4</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento5</a>
			</li>
			<li>
				<a class="columnElement" href="#">Elemento6</a>
			</li>
		</ul>
	</div>

	<div class="rights"><p>CopyRight &copy;</p></div>
</footer>
