<body>
  <form  (ngSubmit)="push()">
    <h2>Registrate</h2>

    <div class="input-group">
      <div
        id="email-used"
        style="display: none; color: red; margin-top: 1%"
      ></div>
      <ion-input
        type="text"
        name="name"
        id="name"
        placeholder="Nombre y apellidos"
        [(ngModel)]="usuario.name"
        required
      />
      <div
        id="name-error"
        style="display: none; color: red; margin-top: 1%"
      ></div>
      <ion-input
        type="email"
        name="email"
        id="email"
        placeholder="Correo Electronico"
        [(ngModel)]="usuario.email"
        required
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      />
      <div
        id="email-error"
        style="display: none; color: red; margin-top: 1%"
      ></div>
      <ion-input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
        [(ngModel)]="usuario.password"
        required
      />
      <div
        id="passwordreg-error"
        style="display: none; color: red; margin-top: 1%"
      ></div>
      <ion-input
      (click)="push()"
        class="submit-button"
        type="submit"
        value="Registrarse"
      />
    </div>
  </form>
  <em>¿Ya tienes una cuenta?</em>
  <a class="link" href="/login">iniciar sesión</a>
</body>
