* {
	padding: 0px;
	margin: 0px;
}

body{
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-image: url("../../../resources/cambio-aceite-coche.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

