* {
	padding: 0px;
	margin: 0px;
}

body{
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-image: url("../../../resources/cambio-aceite-coche.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

article {
	background: #ffffff;
	box-shadow: 0px 100px 145px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	display: block;
	margin: auto;
	margin-top: 15%;
	width: 80%;
	justify-content: center;
	align-items: center;
	font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding-bottom: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 0.5em;
		padding-top: 0.5em;
		font-size: 2em;

		h2 {
			text-align: center;
			padding-left: 0.2em;
		}

		span {
			color: #202b89;
			padding-right: 0.2em;
			font-weight: bold;
		}
	}

	p {
		font-size: 1em;
	}
}