<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="services"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="service" class="ion-no-margin" style="margin: 4px !important">
    <img [src]="service.imageUrl" />

    <ion-card-header>
      <ion-card-title>{{ service.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ service.description }}</p>
    </ion-card-content>

    <ion-item lines="none">
      <ion-label>Está en favoritos?</ion-label>

      <ion-toggle
        [(ngModel)]="favorite"
        (ngModelChange)="toggleFavorite()"></ion-toggle>
    </ion-item>

    <br />
  </ion-card>
</ion-content>
