<article class="card">
  <header class="header-reseña">
    <img
      class="user-image"
      src="../../../../../assets/Portrait_Placeholder.webp"
    />
    <h2>{{this.Nombre}}</h2>
    <ul class="stars">
      <li *ngFor="let item of [].constructor(this.Valoracion); let i = index" ><img src="https://firebasestorage.googleapis.com/v0/b/test-5dfd9.appspot.com/o/assets%2FVector.webp?alt=media&token=a6a86d65-52d5-4c12-8e74-c350a8c142e0" /></li>
    </ul>
  </header>
  <div class="comment">
    <p>
      {{this.Comentario}}
    </p>
  </div>
</article>
