* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}

@media (max-width: 1000px) {
	body {
		height: 100%;
	}
}

.services-header {
	font-size: 48px;
	color: black;
	margin-bottom: 1.2em;
}

.card-container {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 100px;
	justify-content: center;
	align-items: center;
}

.card {
	background: #fff;
	border-radius: 25px;
	overflow: hidden;
	width: 18em;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card img {
	width: 100%;
	height: 250px;
	display: block;
}

.card-content {
	padding: 16px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card-price {
	font-size: 24px;
	color: black;
	font-weight: bold;
	font-style: normal;
}

.card-title {
	font-size: 20px;
	max-width: 120px;
	color: #333333;
}

@media (max-width: 600px) {
	.card-container {
		flex-direction: column;
		align-items: center;
	}
}
