
<app-header [mostrarLogin]="false"></app-header>
<body>
<form>
  <h2>Inicia Sesión</h2>
  <div class="input-group">
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Correo Electronico"
      required
      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      [(ngModel)]="usuario.email"
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Contraseña"
      required
      [(ngModel)]="usuario.password"
    />
    <input
      (click)="push()"
      class="submit-button"
      type="submit"
      value="iniciar sesión"
    />
  </div>
  <a href="/signup">Crear cuenta</a>
</form>
</body>
