*{
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

form {
  max-width: 350px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  font-family:  inter,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
}


input {
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 3px solid #161e69;
  font-size: 16px;
  color:  black;
}



input::placeholder {
  color: rgb(0, 0, 0);
  font-family:  inter,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit-button {
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  background-color: #161e69;
  box-shadow: 0 0 10px rgba(0, 17, 254, 0.4);
  cursor: pointer;
  margin-top: 8%;
}

.submit-button:hover {
  background-color: rgb(0, 0, 0);
}
