<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="style.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Formulario</title>
	</head>

	<body>
		<form >
			<h2>Inicia Sesión</h2>

			<div class="input-group">
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Correo Electronico"
					required
					pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
					title="Correo Electronico"
				/>
				<input
					type="password"
					name="password"
					id="password"
					placeholder="Contraseña"
					required
				/>
				<input class="submit-button" type="submit" value="Iniciar Sesión" />
			</div>
		</form>
		<img class="truck-image" src="../../../resources/truck.png" />
		<img
			class="truck-image"
			id="right-truck"
			src="../../../resources/truck.png"
		/>
	</body>
</html>
