*{
    padding: 0px;
    margin: 0px;
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
}

.container {
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    margin: 2em auto;
    justify-content: space-around;
    border-radius: 25px;
    background-color: rgb(32, 43, 137);
}

nav {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    ul{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 5%;

    }

}

nav .header-text-element {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    font-family:  inter,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: opacity 0.4s;
}

.header-text-element:hover {
    opacity: 0.7;
}

#logo-img {
    margin-left: 30px;
    height: 50px;
}