<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="style.css" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Formulario</title>
	</head>

	<body>
		<form>
			<h2>Registrate</h2>

			<div class="input-group">
				<input
					type="text"
					name="name"
					id="name"
					placeholder="Nombre y apellidos"
				/>
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Correo Electronico"
				/>
				<input
					type="password"
					name="password"
					id="password"
					placeholder="Contraseña"
				/>
				<input class="submit-button" type="submit" value="Registrarse" />
			</div>
		</form>

		<img class="truck-image" src="../../../resources/truck.png" />
		<img
			class="truck-image"
			id="right-truck"
			src="../../../resources/truck.png"
		/>
	</body>
</html>
