* {
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	background-image: url("../../../resources/background-pattern.webp");
	background-repeat: repeat-y;
	background-size: cover;
}

form {
	margin-top: 1.5em;
	background-color: #fff;
	max-width: 350px;
	width: 100%;
	border-radius: 25px;
	padding: 30px;
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 1);
	text-align: center;
	box-sizing: border-box;
	font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-group {
	display: flex;
	flex-direction: column;
	text-align: left;
}

h2 {
	color: black;
	font-size: 30px;
	margin-bottom: 20px;
}

input {
	margin-top: 15px;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
	outline: none;
	border: none;
	border-bottom: 3px solid #202b89;
	font-size: 16px;
	color: black;
}

input::placeholder {
	color: rgb(0, 0, 0, 0.6);
	font-family: inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input:focus::placeholder {
	color: rgba(0, 0, 0, 0);
}

.submit-button {
	margin: 20px;
	padding: 15px 30px;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 15px;
	border: 0px;
	font-weight: 600;
	background-image: linear-gradient(
		45deg,
		black 0%,
		#202b89 60%,
		#202b89 100%
	);
	cursor: pointer;
}

.submit-button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
	box-shadow: 0px 0px 10px 1px #202b89;
}

.submit-button:active {
	transform: scale(0.9);
	box-shadow: none;
}

.truck-image {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -3;
	aspect-ratio: 152/109;
	max-width: 360px;
}

#right-truck {
	left: 0;
	transform: scaleX(-1);
}

@media only screen and (max-width: 720px) {
	#right-truck {
		display: none;
	}
}
