<app-header></app-header>

<div class="card">
	<section class="contact-info">
		<h2 class="title">Contactar</h2>
		<p class="subtitle">Datos del taller</p>
		<div class="info">
			<i class="fas fa-phone"><em>928 03 99 29</em></i>

			<i class="fas fa-envelope">
				<em>tallermecanico&commat;gmail.com</em></i
			>

			<i class="fas fa-map-marker-alt"><em>Plaza de los Derechos Humanos, 2, C.P. 35071</em></i>
		</div>

		<div class="social-icons">
			<a class="social" href="#">
				<img
					class="icon"
					src="/assets/icons/icons-instagram.svg"
				/>
			</a>
			<a class="social" href="#">
				<img
					class="icon"
					src="/assets/icons/icons-facebook.svg"
				/>
			</a>
			<a class="social" href="#">
				<img
					class="icon"
					src="/assets/icons/icons-whatsapp.svg"
				/>
			</a>
		</div>
	</section>

	<form class="contact-form">
		<div class="input-group">
			<label for="name">Nombre:</label>
			<input type="text" id="name" />

			<label for="surname">Apellidos:</label>
			<input type="text" id="surname" />

			<label for="email">Correo Electrónico:</label>
			<input type="email" id="email" />

			<label for="phone">Número de telefono:</label>
			<input type="tel" id="phone" />
		</div>
		<div class="radio-group">
			<label><input type="radio" name="subject" /> Cambio de aceite</label>

			<label><input type="radio" name="subject" /> Cambio de frenos</label>

			<label><input type="radio" name="subject" /> Cambio de neumático</label>

			<label><input type="radio" name="subject" /> Otros</label>
		</div>

		<div class="message">
			<label for="message">Mensaje:</label>
			<textarea
				id="message"
				rows="4"
				placeholder="Comenta tu incidencia"
			></textarea>
		</div>

		<input class="submit-button" type="submit" value="Enviar" />
	</form>
</div>
