* {
    padding: 0;
    margin: 0;
}

footer{
    display: inline-flex;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;
    background: #1a1a1a;
    color:#FFF;
    justify-content: center;
    text-align: center;

}
footer h3{

    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

footer ul{
    text-align: center;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
}

footer ul a{
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

footer ul a:hover{
    opacity: 1;
}

footer.FooterColumns{
    border-bottom: 100px solid red;
    height: 80%;

}

.Columns{
    display: inline-block;
    width: 250px;
    margin: 10px;
}
.Copy{
    font-weight: bold;
    font-size: 16px;
}



