*{
    padding: 0px;
    margin: 0px;
}

#background-img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.titles{
    margin: auto ;
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    font-family: Inter;
}
